<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>Qibla Direction in North America</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Qibla in North America</h1>
            <div class="text-content">
                <p>The Qibla direction in North America should point towards the East/Southeast, not the Northeast as commonly and incorrectly adopted by the vast majority of mosques today. This is not because of a belief in a flat Earth or a disregard for science, but rather because any calculations must align with both the objectives and the <em>means</em> as defined by Shariah.</p>

                <p>According to Islamic scripture and the early consensu of the four authoritative schools of interpretation, the referecne point in the spherical coordinate system is deemed to be the north pole, not the center of the Earth. The Arabs relied on stars to locate the North Pole and accordingly ascertain the Qibla direction. Allah said:<strong> وَعَلَامَاتٍ ۚ وَبِالنَّجْمِ هُمْ يَهْتَدُونَ </strong> which means: Allah made clear landmarks on earth (not in earth) and stars (outside earth) for mankind to guide themselves during days and nights. In Shariah, it is unequivocally established that utilizing the four cardinal directions as the framework for identifying the Qibla is unquestionably valid. Any method, such as the great circle, that yields a direction significantly deviating from that will be considered questionable and shall not be permitted to replace the Shariah's frame of reference.</p>

                <p>Therefore, I adhere to the <em>constant</em> bearing of the <strong>rhumb line</strong>, rather than the initial bearing of the great circle, which entirly disregrads the frame of reference as outlined by Shariah.</p>

                <p>It is essential to emphasize that neither great circle nor rhumb line calculations are necessary for determining the Qibla direction in North America. In Shariah, regardless of one's location on Earth, there is never a requirement for knowledge of geometry to ascertain the Qibla direction. However, if someone chooses to use such mathematical constructs, they should ensure that their calculations align with the original Shariah frame of reference. </p>

                <p class="freestyle-element" id="signature">Samer El kababji, PhD, MEng <br>May 2024  - London, Ontario</p>
            </div>
        </div>
        <div class="sidebar">
            <h1>Get Qibla calculations</h1>
            <select id="countrySelect" name="country">
                <option value="">Select your country</option>
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <select id="citySelect" name="city" style="display: none;">
                <option value="">Select your city</option>
            </select>
            <div class="button-container">
                <button id="calculateButton" style="display: none">Calculate Bearing</button>
            </div>
            <div id="results"></div>
        </div>
    </div>
    <div class="compass-title-container">
        <h2>Comparison of Rhumb Line and Great Circle Line</h2>
    </div>
    <div class="compass-container" id="compassContainer">
        <div class="compass-content">
            <div class="compass">
                <h2>Rhumb Line</h2>
                <div id="compass1"></div>
            </div>
            <div class="results-content" id="rhumbResults" style="display: none;">
                <h2>Results</h2>
                <p id="rhumbResultsText"></p>
            </div>
            <p class="note-text" id="rhumbNote" style="display: none; position: absolute; bottom: 10px; right: 10px;">NOTE: Compass does NOT move throughout the path.</p>
        </div>
        <div class="compass-content">
            <div class="compass">
                <h2>Great Circle Line</h2>
                <div id="compass2"></div>
            </div>
            <div class="results-content" id="greatCircleResults" style="display: none;">
                <h2>Results</h2>
                <p id="greatCircleResultsText"></p>
            </div>
            <p class="note-text" id="greatCircleNote" style="display: none; position: absolute; bottom: 10px; right: 10px;">NOTE: Compass DOES move throughout the path.</p>
        </div>
    </div>
    
    <div class="bearing-slider-container">
        <h3>Asjust the slider to see the difference in bearing when travelling along the route calculated using the rhumb line versus the one calculated using the great circle</h3>
        <div class="slider-labels">
            <div id="startLabel" class="slider-label"></div>
            <div id="endLabel" class="slider-label"><img src="{{ url_for('static', filename='Kaaba.png') }}" alt="End Image"></div>
        </div>
        <input type="range" id="bearingSlider" min="-360" max="360" value="0" style="width: 100%;">
    </div>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
